{
  "openapi": "3.0.0",
  "info": { "version": "1.0.0", "title": "Langtail prompt endpoint" },
  "components": { "schemas": {}, "parameters": {} },
  "paths": {
    "/organization/project/prompt/environment": {
      "post": {
        "description": "Completion endpoint for staging deployment of prompt test",
        "summary": "Get completion for stored prompt",
        "servers": [{ "url": "https://api.langtail.com" }],
        "parameters": [
          {
            "schema": { "type": "string", "example": "<LANGTAIL_API_KEY>" },
            "required": true,
            "name": "X-API-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stream": { "type": "boolean", "example": false },
                  "user": {
                    "type": "string",
                    "description": "A unique identifier representing your end-user",
                    "example": "user_123"
                  },
                  "variables": {
                    "type": "object",
                    "properties": {
                      "variableName": { "type": "string", "default": "Default value" }
                    },
                    "example": { "variableName": "Your Value" }
                  },
                  "seed": {
                    "type": "number",
                    "description": "A seed is used  to generate reproducible results",
                    "example": 123
                  },
                  "doNotRecord": {
                    "type": "boolean",
                    "description": "If true, potentially sensitive data like the prompt and response will not be recorded in the logs",
                    "example": false
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "anyOf": [
                            { "type": "string", "enum": ["assistant"] },
                            { "type": "string", "enum": ["user"] },
                            { "type": "string", "enum": ["system"] },
                            { "type": "string", "enum": ["function"] },
                            { "type": "string", "enum": ["tool"] }
                          ]
                        },
                        "name": { "type": "string" },
                        "content": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["text"]
                                      },
                                      "text": { "type": "string" }
                                    },
                                    "required": ["type", "text"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": ["image_url"]
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "properties": {
                                          "url": { "type": "string" },
                                          "detail": {
                                            "type": "string",
                                            "enum": ["auto", "low", "high"],
                                            "default": "auto"
                                          }
                                        },
                                        "required": ["url", "detail"]
                                      }
                                    },
                                    "required": ["type", "image_url"]
                                  }
                                ]
                              }
                            },
                            { "type": "string" },
                            { "nullable": true }
                          ]
                        },
                        "function_call": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "arguments": { "type": "string" }
                          },
                          "required": ["name", "arguments"]
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "type": {
                                "type": "string",
                                "enum": ["function"]
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": { "type": "string" },
                                  "arguments": { "type": "string" }
                                },
                                "required": ["name", "arguments"]
                              }
                            },
                            "required": ["id", "type", "function"]
                          }
                        },
                        "tool_choice": {
                          "anyOf": [
                            { "type": "string", "enum": ["auto"] },
                            { "type": "string", "enum": ["none"] },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": ["function"]
                                },
                                "function": {
                                  "type": "object",
                                  "properties": {
                                    "name": { "type": "string" }
                                  },
                                  "required": ["name"]
                                }
                              },
                              "required": ["type", "function"]
                            }
                          ]
                        },
                        "tool_call_id": { "type": "string" }
                      },
                      "required": ["role", "content"]
                    },
                    "description": "Additional messages to seed the conversation with",
                    "example": [{ "role": "user", "content": "Hello" }]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [{ "type": "string" }, { "type": "number" }]
                    },
                    "description": "Additional custom data that will be stored for this request",
                    "example": { "my_identifier": "my-custom-ID" }
                  }
                },
                "required": ["variables"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Non-streaming response from OpenAI - see https://platform.openai.com/docs/api-reference/chat/create",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "description": "The object type, which is always `chat.completion`."
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": [
                                  "system",
                                  "user",
                                  "assistant",
                                  "function"
                                ],
                                "description": "The role of the author of this message."
                              },
                              "content": { "type": "string", "nullable": true },
                              "function_call": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the function to call."
                                  },
                                  "arguments": {
                                    "type": "string",
                                    "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                  }
                                },
                                "required": ["name", "arguments"]
                              }
                            },
                            "required": ["role", "content", "function_call"]
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": ["stop", "length", "function_call"],
                            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence, `length` if the maximum number of tokens specified in the request was reached, or `function_call` if the model called a function."
                          }
                        },
                        "required": ["index", "message", "finish_reason"]
                      },
                      "description": "A list of chat completion choices. Can be more than one if `n` is greater than 1."
                    }
                  },
                  "required": ["id", "object", "created", "model", "choices"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request bodys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["Invalid request body"]
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "enum": ["unrecognized_keys", "invalid_type"]
                          },
                          "keys": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "path": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "message": { "type": "string" }
                        },
                        "required": ["code", "keys", "path", "message"]
                      }
                    }
                  },
                  "required": ["error", "issues"],
                  "example": {
                    "error": "Invalid request body",
                    "issues": [
                      {
                        "code": "unrecognized_keys",
                        "keys": ["unknown_variable"],
                        "path": ["variables"],
                        "message": "Unrecognized key(s) in object: 'unknown_variable'"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
